*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    background-color: black;
}

#main{
    min-height: 100vh;
    position: relative;
}

#nav{
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 1%;
    font-weight: 500;
    /* position: relative; */
    /* padding: 0 1%; */
}

#logo img{
    height: 10vh;
}

#links{
    
    width: 25%;
    display: flex;

justify-content: space-between;}

#links a{
    text-decoration: none;
    color: white;
    font-size: 1.8vh;
}



button{
    text-transform: uppercase;
    font-size: 1.8vh;
    height: 6vh;
    width: 9vw;
    font-weight: 600;
    border: none;
    border-radius: 3%;
}

#b1{
    background-color: black;
    color: white;
}

/* #page{
    height: 100vh;
    background-color: blue;
} */


#page2{
    height: 100vh;
    background-color: purple;
}

#hero{
    height: 73vh;
    width: 95%;
    position: relative;
    /* transform: translate(-50%,-50%); */
    /* left: 50%; */
    /* top: 50%; */
}

#title{
    color: white;
    text-align: center;
    line-height: 1.1;
    padding: 7% 0%;
    position: relative;
}

#wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    position: absolute;
    padding: 18%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}


#title h1{
    font-size: 15vh;
    
}



#book{
    display: inline-block;
  /* width: 100px; */
  background-color: brown;
  font-size: 3.5vh;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  padding:3% 10%;
  border-radius: 10rem;
}

#dh3{
    margin: 3% 0%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    width:25vw ;
   
}
#dh3 h3{
    font-size: 2.2vh;
    font-weight: 100;
}

#dh3 i{
    font-size: 10vh;
}

.pic{
    border: none;
    border-radius: 1rem;
    position: absolute;
    transform: translate(-50%,-50%);
}

#p1{
    left: 30%;
    height:26vh ;
    bottom: -25%;
    z-index: -6;
}

#p2{
    height: 28vh;
    left:10%;
    top: 30%;
}

#p3{
    height: 20vh;
    top: 20%;
    left: 70%;
    z-index: -6;
}

#p4{
    height: 36vh;
    left: 90%; 
    bottom: -14%;
}

#hfoot{
    width: 100vw;
    height: 15vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5%;
    padding: 3% 2%;

}

#socials{
    font-size: 4vh;
    color: white;
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;

}
#scroll{
    display: flex;
    align-items: center;
}

#scroll h3,a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
    font-weight: 100;
    padding-right: 1.5vw;
}

#scroll i{
    color: white;
    font-size: 6vh;
    font-weight: 100;
}

#blank{
    width: 10%;
}