*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    background-color: black;
}

#main{
    min-height: 100vh;
    position: relative;
}

#nav{
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 1%;
    font-weight: 500;
    /* position: relative; */
    /* padding: 0 1%; */
}

#logo img{
    height: 10vh;
}

#links{
    
    width: 25%;
    display: flex;

justify-content: space-between;}

#links a{
    text-decoration: none;
    color: white;
    font-size: 1.8vh;
}



button{
    text-transform: uppercase;
    font-size: 1.8vh;
    height: 6vh;
    width: 9vw;
    font-weight: 600;
    border: none;
    border-radius: 3%;
}

#b1{
    background-color: black;
    color: white;
}

/* #page{
    height: 100vh;
    background-color: blue;
}
#page1{
    height: 100vh;
    background-color: purple;
} */

#hero{
    height: 80vh;
  
    width: 95%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

#title{
    color: white;
    text-align: center;
    line-height: 1.1;
    padding: 7% 0%;
    position: relative;
}

#wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    position: absolute;
    padding: 18%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}


#title h1{
    font-size: 15vh;
    
}





#book{
    display: inline-block;
  /* width: 100px; */
  background-color: brown;
  font-size: 3.5vh;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  padding:3% 10%;
  border-radius: 10rem;
}

#dh3{
    margin: 3% 0%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    width:25vw ;
   
}
#dh3 h3{
    font-size: 2.2vh;
    font-weight: 100;
}

#dh3 i{
    font-size: 10vh;
    
}

